:root {
  --blue: #0984e3;
  --grey: #dfe6e9;
  --white: #fefefe;

  --content-width: 1200px;
  --header-height: 200px;

  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2.2rem;
  background-color: var(--white);
}

ul {
  margin: 1.6rem 0 1.6rem 2.4rem;
}

em {
  font-style: italic;
}

h1 {
  font-size: 3.6rem;
  margin-top: auto;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

h3 {
  font-size: 2.0rem;
  margin-bottom: 1.2rem;
}

.button {
  border: 0;
  border-radius: 2px;
  padding: 0.6rem;
  cursor: pointer;
}

.button--jump {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 600;
  padding: 0.8rem 1.2rem;
}
.button--jump:hover, .button--jump:focus, .button--jump:active {
  background-color: #015ea6;
}

/*.header__container,
.body,
.footer__container {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 1.6rem;
}*/

.body {
  align-content: baseline;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: var(--header-height) 1fr auto;
}

.header {
  height: var(--header-height);
  background-color: var(--blue);
  color: var(--white);
}

.header__container {
  display: flex;
  height: 100%;
}

.header__logo {
  margin-left: auto;
}

.body {
  display: grid;
  grid-row-gap: 3.6rem;
}

.section {
  display: grid;
  grid-gap: 1.6rem;
}
@media (min-width: 768px) {
  .section {
    grid-template-columns: 3fr 1fr;
  }
}

.jump {
  max-height: 0px;
  will-change: max-height;
  transition: max-height 0.8s ease-in-out;
  overflow: hidden;
}

.jump-container {
  overflow: hidden;
  max-height: 3.2rem;
  will-change: max-height;
  transition: max-height 0.2s ease-in-out;
}

.jump-container--collapsing {
  max-height: 0px;
}

.jump-container .button--jump {
  display: block;
  margin: 0 auto;
}

.jump--expanding {
  max-height: 700px;
}

.jump--expanded {
  max-height: initial;
  will-change: unset;
}


@media (min-width: 768px) {
  .jump {
    transition: max-height 0.4s ease-in-out;
  }
  .jump--expanding {
    max-height: 300px;
  }
  .jump--expanded {
    max-height: initial;
    will-change: unset;
  }
}


.accordion {
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2rem;
}
.accordion__label {
  display: block;
  padding: 0.8rem;
  background: #f0f0f0;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease;
}
.accordion__label:hover, .accordion__label:focus, .accordion__label:active {
  background-color: #d7d7d7;
}

.accordion__input {
  display: none;
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  background: #fff;
  transition: max-height 0.4s ease-in-out;
}
.accordion__c-padding {
  padding: 0.8rem;
}

.accordion__input:checked ~ label ~ .accordion__content {
  max-height: 400px;
}
